.container {
    position: relative;
    min-height: 100vh;
    padding: 24px;
    background-color: white;
    font-family: sans-serif;
    color: #333;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #212529;
  }
  
  .task {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
 
  

  
  .checkbox {
    margin-right: 12px;
    width: 18px;
    height: 18px;
  }
  
  .icon {
    margin-right: 8px;
    font-size: 18px;
  }
  
  .text {
    font-size: 16px;
  }
  .spacer {
    flex: 1;
  }

  .edit-btn {
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  .delete-btn{
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20px;

  }
 
  .add-button {
    position: absolute;
    bottom: 48px;
    right: 24px;
    width: 48px;
    height: 48px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: white;
    color: black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;

  }
  